{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdProduit</th>
                <td>{{ produit.idProduit }}</td>
            </tr>
            <tr>
                <th>NameProd</th>
                <td>{{ produit.nameProd }}</td>
            </tr>
            <tr>
                <th>ProdDescription</th>
                <td>{{ produit.prodDescription }}</td>
            </tr>
            <tr>
                <th>TypeProd</th>
                <td>{{ produit.typeProd }}</td>
            </tr>
            <tr>
                <th>PriceProd</th>
                <td>{{ produit.priceProd }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ produit.quantite }}</td>
            </tr>
            <tr>
                <th>ImageProd</th>
                <td>{{ produit.imageProd }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ produit.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produit_index') }}">back to list</a>

    <a href="{{ path('app_produit_edit', {'idProduit': produit.idProduit}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
